@import "colors.scss";

body {
  margin: 0px;
  background: $body-color;
  // height: 100vh;
  // width: 100vw;
}

h1, li, h2 {
  margin: 0px;
  font-family: Mazzard, Arial, sans-serif;
}

h3 {
  margin: 0px;
  color: $h3-color;
  //font-family: Mazzard, Arial, sans-serif;
}

h4 {
  margin: 0px;
  color: $h3-color;
  font-family: Mazzard, Arial, sans-serif;
}

p {
  margin: 0px;
  font-family: Mazzard, Arial, sans-serif;
}

a {
  margin: 0px;
  font-family: Mazzard, Arial, sans-serif;
  cursor: pointer;
}

span {
  margin: 0px;
  font-family: Mazzard, Arial, sans-serif;
}

input {
  background-color: $input-color;
  //outline: 2px solid $border-input-color;
  border: solid 2px $border-input-color;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Mazzard, Arial, sans-serif;
}

button {
  border: none;
  padding: 0px;
  min-height: 30px;
  background-color: $body-color;
  font-size: 12pt;
  font-family: Mazzard, Arial, sans-serif;
  outline: none;
  border: none;
}

%overflow-scroll {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $overflow-scroll-color;
    border-radius: 10px;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: initial;
    }
  }
}